body {
    margin: 0;
}

.dashboard-container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr / 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
}

.sidebar {
    grid-area: sidebar;
    background-color: #38bdf8;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
    background-color: #e5e7eb;
}